footer {
  background: $color-dark;
  color: $color-light;
  padding: 40px 0;

  .brand {
    font-size: 3rem;
  }

  .fa-facebook-square {
    font-size: 2.2rem;
    color: #fff;
  }

  .fa-facebook-square:hover {
    color: $secondary-color;
  }
}
