footer {
  background: $color-dark;
  color: $color-light;
  padding: 40px 0;

  .brand {
    font-family: $brand-font;
    font-size: 4rem;

    img {
      width: 38px;
      height: 38px;
    }
  }

  .fa-facebook-square {
    font-size: 2.2rem;
    color: #fff;
  }

  .fa-facebook-square:hover {
    color: $secondary-color;
  }
}
